.form-group {
  margin-top: 20px;
}
.button {
  margin-top: 30px;
  margin-left: 0px;
  background-color: #cce6ff;
}
.login {
  background-color: #ddff99;
  height: 450px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-top: 60px;
  margin-left: 22rem;
  margin-bottom: 60px;
}

.fa-user,
.fa-lock {
  margin-right: 10px;
}
