.font-small.pt-4.mt-4 {
  border-radius: 0.5rem;
}

.footer-copyright.text-center.py-1 {
  border-radius: 0.5rem;
}

.footer-copyright.text-center.py-1 {
  background-color: rgb(89, 0, 255);
  color: white;
}
