.contact-item {
    margin-top: 30px;
    margin-left: 40px;
}

h2 {
    width: 90%;
    margin-left: 120px;
    font-family: 'Times New Roman', Times, serif;
}

iframe {
    margin-left: 120px;
    margin-top: 20px;
    width: 80%;
    height: 400px; 
    border:0;
}